body            { font-family: sans-serif; background: #eee; font-size: 1.0em;}
a, h1, h2       { color: #4682B4; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; font-size: 2.0em; }
h2              { font-size: 1.5em; color: #4682B4; }
h3              { font-size: 1.2em; }
h4              { font-size: 1.0em; color: #66B3FF}

div.main        { align:center;
                  position:relative;
                  top: 40px;}

div.search      { align:center;}

div.text        { font-size: 1.0em;
                  font-weight: bold;
                  color: #4682B4;
                 }

div.ad_search   { clear: both;
                  margin-bottom: 5px;
                  padding-top:2px;
                  font-size: 0.8em;
                  color: #4682B4;
                  position:relative;
                  top:50px;
                  line-height:200%;}
