{% from "util.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
<div xmlns="http://www.w3.org/1999/html">
    <div class="main" align="center">
        <a href="http://baike.baidu.com/link?url=ClHCVxEBZ76Ih8Cpri-hF3qRc1bMzTjLodXICeQKf2OJhzd_k7Rsy55wuiSDsnS6oRihKCvX6nnCfkWJE88N50XwpgrjO6-BSt58-jz3noOKtxOk_aIhItuP6xN2Htxbc8NSEmqPOl3Irmq9f3pMpK">
            <img src="/static/gudu.png"
                 style="padding-top:1px"
                 alt="Lonely Library"
                 title="Lonely Library"
                 border="0"
                 width="420"
                 height="160"
                 onload="window.lol&&lol()"/>
        </a>
        <br>
        <br>
        <div>
            <form method="post">
                {{ render_field(search_form.text, label=False, autofocus="autofocus", size="60", max="60", placeholder="Input book name...") }}
                <br>
                {{ render_field(search_form.submit_button, label=False) }}
                <p><a href="advanced_search"><small>Advanced Search</small></a></p>
            </form>
        </div>
    </div>
</div>

    <div class="text" align="center">
        <br>
        <a href="all_books">All Books</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="book_category">Books Categories</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="http://etherpad.corp.redhat.com/book-wish-list">Books Wish List</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        Best Sellers:&nbsp&nbsp
        <a href="http://www.amazon.cn/gp/bestsellers/books/ref=zg_bs_books_home_all?pf_rd_p=62721792&pf_rd_s=center-1&pf_rd_t=2101&pf_rd_i=home&pf_rd_m=A1AJ19PSB66TGU&pf_rd_r=0S8CMWS3MPBN6XPRXBJJ">
            <img src="/static/amazon_logo.png"
                 width="80"
                 height="60"/>
        </a>
        &nbsp
        <a href="http://book.jd.com/booktop/0-0-0.html?category=1713-0-0-0-10001-1">
            <img src="/static/jd_logo.png"
                 width="80"
                 height="60"/>
        </a>
    </div>
{% endblock %}
