{% extends "layout.html" %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <head>
        <style type="text/css">
        th {font-size: 200%; color: #4682B4;line-height:200%;}
        td {font-size: 100%; line-height:150%;}
        </style>
    </head>
    <table>
        <tbody>
            <tr>
                <th align="left"><strong>Book</strong></th>
                <th align="left"><strong>Owner</strong></th>
            </tr>
            {% for item in items %}
            <tr>
                <td align="left"><a href="{{ item[3] }}"> {{ item[1] }}</a></td>
                <td align="left">&nbsp&nbsp{{ item[2] }}</td>
            </tr>
            {% endfor %}
            </div>
        </tbody>
    </table>
    <h4>Total Number: {{ items|length }}</h4>

    <div style="position:absolute;bottom:0px;right:0px;">
        <img src="/static/book_sheet.png"
                    style="padding-top:1px"
                    alt="Lonely Library"
                    title="Lonely Library"
                    border="0"
                    width="150"
                    height="120"
                    onload="window.lol&&lol()"/>
    </div>
{% endblock %}
