{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <head>
        <style type="text/css">
        th {font-size: 200%}
        td {font-size: 100%}
        </style>
    </head>
    <div>
        <img src="/static/sun.png"
                    style="padding-top:1px"
                    alt="Lonely Library"
                    title="Lonely Library"
                    border="0"
                    width="600"
                    height="250"
                    onload="window.lol&&lol()"/>
    </div>
    <table>
        <tbody>
            <tr>
                <th align="left"><strong>Book</strong></th>
                <th align="left"><strong>Owner</strong></th>
            </tr>
            {% for item in items %}
            <tr>
                <td align="left"><a href="{{ item[3] }}"> {{ item[1] }}</a></td>
                <td align="left">&nbsp&nbsp{{ item[2] }}</td>
            </tr>
            {% endfor %}
            </div>
        </tbody>
    </table>
    <h4>Total Number: {{ items|length }}</h4>
{% endblock %}
